# Server
PORT=3000
NODE_ENV=production

# Database
DATABASE_URL=postgresql://postgres:WGqjtYdIIqlAJINvetAwJPGFpdPNKSNY@maglev.proxy.rlwy.net:15551/railway
REDIS_URL=redis://default:jSbaXPToAtPGkMbafTJsdsQLFwhEwapk@hopper.proxy.rlwy.net:29922

# JWT
JWT_SECRET=nexus_trading_secret_key_2024_secure_random_string

# Alpaca Paper Trading
ALPACA_API_KEY_ID=PKTEW4FEZM6WK54XTJNF2D53CP
ALPACA_API_SECRET_KEY=BEsDRESDdu2RGZCFTw6b86QNwbgyuKDoD7dYcA78GiFC
ALPACA_PAPER_URL=https://paper-api.alpaca.markets

# Finnhub
FINNHUB_API_KEY=d6n2uqhr01qir35j04tgd6n2uqhr01qir35j04u0

# NOWPayments
NOWPAYMENTS_API_KEY=b12240cb-b944-4d65-b6cc-86ffe6f593a0
NOWPAYMENTS_IPN_SECRET=ZdsNgWc2cFafrs1L82c20evNXxa9dD1m
